@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

main {
  flex: 1;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.text-container {
  position: absolute;
  top: 350px;  
  right: 73.65px; 
  left: 65px;
  bottom: 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: black;
}

.typewriter {
  color: white;
  font-size: 24px;
  font-family: 'Montserrat';
  font-display: swap;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  width: 8ch; /* Adjust this based on the length of your text */
  animation: typing 2s steps(12) 1s 1 normal both, blink 1000ms infinite; /* Removed steps() from blink */
}

.header{
  color: 'white';
  font-size: 20px;
  font-family: 'Montserrat'; 
  font-weight: 300;
  word-wrap: 'break-word';
  text-decoration: 'none';
  font-display: block;
}

.namepos{
  width: '96%';
  height: '100%';
  padding-left: 26; 
  padding-right: 20;
  padding-top: 20; 
  padding-bottom: 20;
  justify-content: 'space-between';
  align-items: 'center';
  display: 'inline-flex';
}

.navpos{
  width: '20%';
  height: '100%';
  justify-content: 'flex-start';
  align-items: 'center';
  gap: 25;
   display: 'flex';
}

@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 8ch; /* Adjust this based on the length of your text */
  }
}

@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

/* Define the shooting star effect */
button {
  --transition: 0.25s;
  --spark: 3s;
  --bg: black;
  background: var(--bg);
  padding: 6px 18px;
  display: grid;
  border-radius: 9999px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1000px 0 0 hsl(0 0% 20%) inset;
  transition: box-shadow var(--transition), background var(--transition),
    transform var(--transition);
}

button:hover .backdrop {
  background: rgb(20 20 20);
}

button:hover {
  transform: scale(1.05);
}

.spark {
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  rotate: 0deg;
  overflow: hidden;
  mask: linear-gradient(white, transparent 50%);
  animation: flip calc(var(--spark) * 2) infinite steps(2, end);
}

@keyframes flip {
  to {
    rotate: 360deg;
  }
}

.spark:before {
  content: "";
  position: absolute;
  width: 200%;
  aspect-ratio: 1;
  inset: 0 auto auto 50%;
  z-index: -1;
  translate: -50% -15%;
  rotate: 0;
  transform: rotate(-90deg);
  opacity: 1;
  background: conic-gradient(from 0deg, transparent 0 340deg, white 360deg);
  transition: opacity var(--transition);
  animation: rotate var(--spark) linear infinite both;
}

.backdrop {
  position: absolute;
  inset: 1px;
  background: var(--bg);
  border-radius: 9999px;
  transition: background var(--transition) opacity var(--transition);
}

@keyframes rotate {
  to {
    transform: rotate(90deg);
  }
}

.text {
  z-index: 1;
  color: rgb(203 213 225);
}


.poppins {
  font-family: var(--font-poppins);
}

.vastshadow {
  font-family: var(--font-vs);
}

.cutivemono {
  font-family: var(--font-cm);
}

.montserrat {
  font-family: var(--font-montserrat);
}
